// ---- Audiolog
$black = #000000
$bk22 = #222222
$bk33 = #333333
$white = #FFFFFF
$blue = #009BE0

$accent = $blue
$stress = #45B8EA

[color="accent"]
  color $accent

// Component
$general-font-color = $white