@font-face {
  font-family: Futura-MediumItalic;
  font-style: normal;
  font-weight: normal;
  src: local('Futura-MediumItalic'),
       local('Futura-MediumItalic'),
       url('Futura-MediumItalic.woff') format('woff'),
       url('Futura-MediumItalic.ttf') format('truetype');
}