<!DOCTYPE html>
<html lang="ko">
<head>
	<title>{{ config.title }}</title>

	<meta charset="UTF-8"/>
	<meta name="viewport" content="initial-scale=1, width=device-width, minimum-scale=0.1, user-scalable=no"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	{#<meta property="og:image" content="{{fb_image}}"/>#}
	{#<meta property="og:title" content="{{title and title + " - "}}config.name" />#}
	{#<meta property="og:description" content='{{fb_desc}}'/>#}
	<link rel="shortcut icon" href="/favicon.ico">

	<link rel="stylesheet" type="text/css" href="/css/base.css"/>
	<link rel="stylesheet" type="text/css" href="/css/core.css"/>
	<link rel="stylesheet" type="text/css" href="/css/prototype.css"/>
	<link rel="stylesheet" type="text/css" href="/css/font.css"/>
	<link rel="stylesheet" type="text/css" href="/css/icons.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/css/blog.css"/>

	<script src="/js/libs/player.min.js"></script>
	<script src="/1px.js.new/1px.js"></script>
	<script src="/components/vimeo.js"></script>
	<script src="/components/actions.js"></script>
	<script src="/components/store.js"></script>
	<script src="/components/video-background.js"></script>
	<script src="/components/video-background-thumbnail.js"></script>
	<script src="/components/video-player.js"></script>

</head>
<body is="rootController">
{% block template %}{% endblock %}
{% block body %}{% endblock %}
<script>$module.bootstrap()</script>
</body>
</html>