@charset "utf-8";

@import url("reset.css");
@import url("common.css");


html { overflow-y: scroll; }
body { color: #555; }
body { font: 11px/1.5 "Apple SD Gothic Neo", 돋움, dotum, Helvetica, Arial, Verdana; text-align: justify; }

*[click],
*[selectable] {
	cursor: pointer;
}


.table {
	width: 100%;
}

/* hbox and vbox classes */
.hbox {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: stretch;
	
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-align: stretch;
	
	display: box;
	box-orient: horizontal;
	box-align: stretch;
}
 
.hbox > * {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
}
 
.vbox {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
	
	display: -moz-box;
	-moz-box-orient: vertical;
	-moz-box-align: stretch;
	
	display: box;
	box-orient: vertical;
	box-align: stretch;
}
 
.vbox > * {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
}
 
.spacer {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}
 
.reverse {
	-webkit-box-direction: reverse;
	-moz-box-direction: reverse;
	box-direction: reverse;
}
 
.box-flex0 {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
}
 
.box-flex1, .box-flex {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}
 
.box-flex2 {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    box-flex: 2;
}
 
.box-group1 {
	-webkit-box-flex-group: 1;
	-moz-box-flex-group: 1;
	box-flex-group: 1;
}
 
.box-group2 {
	-webkit-box-flex-group: 2;
	-moz-box-flex-group: 2;
	box-flex-group: 2;
}

.hscroll {
	overflow: hidden;
	overflow-x: scroll;
}

.vscroll {
	overflow: hidden;
	overflow-y: scroll;
}

.hspace {
	/*width: 10px;*/
	border-right: 1px solid #ccc;
}


.ccc {
	color: #ccc;
}

.aaa {
	color: #aaa;
}

.small {
	font-size: 9px;
}

.gray {
	color: #999;
}


.btn-checkbox {
	display: inline-block;
	width: 16px;
	height: 14px;
	background: url('/img/checkbox.gif') no-repeat;
}

.btn-checkbox.checked {
	background-position: -16px 0;
}

.btn-radiobtn {
	display: inline-block;
	width: 16px;
	height: 14px;
	background: url('/img/radiobtn_w.gif') no-repeat;
}

.wrap-tags {
	overflow: hidden;
}

.wrap-tags div {
	float: left;
	width: 80px;
}

.wrap-tags div i {
	vertical-align: -2px;
}

.divider {
	color: #ccc;
}




/* -- LAYOUT */
body,html {
	min-width: 960px;
	height: 100%;
	overflow: hidden;
}

#app, #wrap {
	height: 100%;	
}

#footer {
	height: 22px;
	background: #f5f5f5;
	text-align: center;
	color: #aaa;
	border-top: 1px solid #e5e5e5;
	font-family: arial, sans-serif;
	font-size: 10px;
}

.wrapper {
	table-layout: fixed;
	border-spacing: 0;
	height: 100%;
}

.wrapper .navbar {
	height: 30px;
	/*background: #2c2c2c;*/
	background: #777;
}

.toolbar {
	/*color: #999;*/
	color: #ddd;
	padding: 0 15px;
}

.toolbar li {
	display: inline;
	font-size: 11px;
	cursor: pointer;
}

.toolbar li a {
	padding: 5px 7px;	
	text-decoration: none;
}

.toolbar li.selected a {
	color: #fff;
	font-weight: bold;
	border-bottom: 4px solid #dd4b39;
}

.toolbar li:hover a {
	color: #fff;
}


.wrapper table {
	width: 100%;
	height: 100%;
}

.sidebar {
	width: 195px;
}

.sidebar .nav::-webkit-scrollbar {
    width: 0px;
}









#popup-placeholder {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

#popup-placeholder .bg {
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.2;
}


#popup-placeholder .popup-content {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 9999;
	cursor: default;
}

#popup-placeholder .popup-content .panel {
	position: relative;
	background: #fff;
	margin: 40px auto;
	z-index: 1;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3);
	overflow-y: auto;
	max-height: 86%;
	border-radius: 7px;
}

/*#popup-placeholder .popup-content .panel-title*/
.panel-title {
	color: #333;
	text-align: center;
	font-size: 14px;
	padding: 0 5px;
	font-weight: bold;
	background: #eee;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
}


#popup-placeholder .popup-content .panel::-webkit-scrollbar {
	width: 0;
}

#popup-placeholder header {
	border-bottom: 1px solid #ccc;
	/*padding-bottom: 10px;*/
	padding: 8px;
}

#popup-placeholder footer {
	padding-top: 10px;
	border-top: 1px solid #ccc;
}















.page-list {
	padding: 0 15px;
}

.page-list h1 {
	font-size: 16px;
	margin-bottom: 25px;
}

.page-list table {
	table-layout: fixed;
	height: auto;
/*	min-width: 960px;*/
}

.page-list table tr:hover td {
	background: #f9f9f9;
}

.page-list table tr.selected td {
	background: #eee;
}

.page-list table th {
	border-bottom: 1px solid #ebebeb;
	padding: 6px 0;
	text-align: center;
	font-weight: bold;	
	font-size: 11px;
}

.page-list table td {
	border-bottom: 1px solid #ebebeb;
	padding: 7px 0;
	color: #333;
	text-align: center;
	vertical-align: middle;
}

.page-list table th.left,
.page-list table td.left {
	text-align: left;
	padding-left: 8px;
	padding-right: 8px;
}


.page-list table td a:hover {
	text-decoration: underline;
}

.page-list table td .tag {
	font-size: 11px;
	color: #999;
	display: block;
}

.page-list table td .tag strong {
	color: #DD4B39;
}






.checkbox label {
	margin-right: 10px;
}

.checkbox label * {
	vertical-align: middle;
}




.panel-gallery ul {
	overflow: hidden;
}

.panel-gallery li {
	float: left;
	width: 25%;
	height: 136px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}

.panel-gallery li.selected {
	background: #dd4b39;
}

.panel-gallery li.selected img {
	opacity: 0.7;	
}

.panel-gallery li img {
	display: block;
	width: 100%;
}

.panel-gallery li img:hover {
	opacity: 0.6;
}

.panel-gallery li.new {
	line-height: 138px;
	border: 1px dotted #ebebeb;
	box-sizing: border-box;
	color: #aaa;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
}

.panel-gallery li.new:hover {
	background: #f8f8f8;
	border-color: #aaa;
}






input[type=checkbox] {
	vertical-align: middle;
}


#clean-html {
	position: absolute;
	top: -9999px;
	left: -999px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}



.panel-toolbar {
	padding: 10px;
	padding-right: 30px;
}


.nav {
	padding: 0 25px;	
	padding-right: 5px;
	padding-bottom: 25px;
}


.nav h1 {
	font-size: 12px;
	font-weight: bold;
	color: #111;
	margin-top: 20px;
	margin-bottom: 1px;
	text-transform: uppercase;
}

.nav li {
	padding: 4px 10px;
	cursor: pointer;
	margin-left: -10px;
}

.nav li:hover {
	background: #f1f1f1;
}

.nav li.selected {
	color: #DD4B39;
}

.nav li a {
	display: block;
}








.blog-thumbnail {
	text-align: center;
	font-size: 15px;
	width: 234px; height: 137px; margin: 0px auto; border: 1px dotted #c8c8c8;
	line-height: 137px;
	cursor: pointer;
	color: #ccc;
	background-size: cover;
}


.blog-thumbnail:hover {
	background: #f1f1f1;
	color: #888;
}





.faq li.faq-item {
margin: 10px; width: 82%; padding: 15px 10px; background: #f1f1f1; border-radius: 6px; border: 1px solid #ebebeb;	
}

.faq li.faq-item.selected {
	background: #ddd;
}

.faq li.faq-item textarea {
	width: 100%;
}






/*html,body,input,textarea,button,p,.btn {
 	font-size: 9pt;
}

body {
	padding-top: 70px;
	padding-bottom: 40px;
	background: url(/admin/img/grid-18px-masked.png) repeat-x;
}

.sidebar-nav {
	padding: 9px 0;
}

.center {
	text-align: center !important;
}


.thumbnail + .caption {
	margin: 2px 0;
}

.nowrap {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.table {
}

p.log time {
	color: #999;
	margin: 0 5px;
	font-size: 8pt;
	vertical-align: bottom;
}

.active a.thumbnail {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 10px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 10px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 10px rgba(0, 105, 214, 0.25);
}

.label-inline {
	display: inline; margin-right: 10px;
}


a.disabled {
	color: #ccc;
}*/


.thumbnails .span1 {
	float: left;
	margin: 8px;
}

.thumbnails .span1 img {
	display: block;
	border: 1px solid #ccc;
}




/*배너*/
.banners {
	width: 633px;
	float: left;
}

.banners li {
	background: #f1f1f1 no-repeat center center;
	background-size: cover;
	border: 3px solid silver;
	width: 300px;
	height: 100px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	position: relative;	
}

.banners li p.title {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
	background: rgba(0,0,0,0.8);
	color: #fff;
	text-align: center;
}

.banners .selected {
	border: 3px solid #dd4b39;
}

.edit_banner {
	float: left;
	width: 300px;
	outline: 1px solid #ddd;
	margin-left: 10px;
	margin-top: 15px;
	padding: 20px;
}

.edit_banner li {
	margin: 5px 0;
	position: relative;
}

.edit_banner input {
	border: 1px solid #ddd;
	position: absolute;
	width: 200px;
	right: 0;
}

.edit_banner:after {
	content: "";
	display: block;
	clear: both;
}

.edit_banner .btn-toolbar {
	margin-top: 20px;
	text-align: center;
}



/*상단카테고리*/
.book_contents li {
	width: 135px;
	height: 230px;
}

.book_contents li img {
	width: 130px;
	height: 188px;
}

.book_contents div {
	text-align: center;
}

.edit_topCategory {
	padding: 20px;
	width: 240px;
	text-align: center;
}

.book_contents .selected {
	opacity: 0.5;
}



/*팝업*/

.popup_book_contents li {
	width: 104px;
	height: 185px;
	padding: 7px;
	text-align: center;
}

.popup_book_contents li img {
	width: 104px;
	height: 160px;
}

.popup_page {
	display: block;
	overflow: hidden;
}






















/*--------------------수정해야함*/
.temp-tag {
	color: #999;
	display: block;
}

.temp-tag .selected {
	color: #dd4b39;
}

.temp-edit {
	color: #ccc;
	font-size: 10px;
}




.legend span {
	 float: right;
	 cursor: pointer;
}

.textbox {
	box-sizing: border-box;
	white-space: pre-line;
	border: 1px dotted #ccc;
	padding: 2px;
	min-height: 100px;
	width: 374px;
}


.dividing-border {
	 width: 380px;
	 height: 1px;
	 border-bottom: 1px solid #ccc;
	 margin-top: 5px;
	 margin-bottom: 5px;
}


.pull-left .image-box {
	margin-right: 5px;	
	margin-bottom: 5px;
}

.image-box {
	border: 1px solid #ddd;
	background: #fff no-repeat center 10%;
	background-size: cover;
}

.image-box .hover {
	display: table;
	width: 100%;
	height: 100%;	
}

.image-box .hover span {
	display: table-cell;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	line-height: 2;
	opacity: 0;
	font-weight: bold;
}

.image-box:hover {
	border: 1px solid #000;
}

.image-box:hover span {
	background: rgba(0,0,0,0.5);
	opacity: 1;
}


label + label {
	margin-left: 10px;
}

i.img {
	display: block;
	background: transparent no-repeat center 5%;
	background-size: cover;
	border: 1px solid #ccc;
	margin: 0 auto;
}



.btn-delete {
	cursor: pointer;
	display: none;
	background: rgba(0,0,0,0.8);
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	float: right;
	color: #fff;
	margin: 3px;
	border-radius: 10px;
	font-size: 9px;
}

.btn-delete:hover {
	background: #999;
}

.image-box:hover .btn-delete {
	display: block;
}




/* 상품상태 */
span.status { padding: 2px 4px; border-radius: 3px; background: #fff; border: 1px solid #aaa; color: #aaa;}

/* 상품상태 */
span.작성중  { background: #fff; border: 1px solid #aaa; color: #aaa; }
span.비공개 { background: #ccc; color: #fff; }
span.공개  { background: #a2ca00; color: #fff; border:0; }
/*span.작성중 { background: #f6cb00; color: #fff; border:0; }*/

/* 답변여부 */
span.답변완료 { background: #a2ca00; color: #fff; border:0; }

/* 주문관리 */
span.배송요청 { background: #ccc; color: #fff; }
span.배송중 { background: #f6cb00; color: #fff; border:0; }
span.배송완료 { background: #a2ca00; color: #fff; border:0; }
span.취소완료 { background: #a10000; color: #fff; border:0; }

span.거래완료 { background: #fff; border: 1px solid #bbb; color: #bbb; }

span.승인완료 { background: #a2ca00; color: #fff; border:0; }
span.승인거절 { background: #a10000; color: #fff; border:0; }


span.승인됨 { background: #a2ca00; color: #fff; border:0; }


span.정산요청 { background: #f6cb00; color: #fff; border:0; }



.blog .document {
	width: 814px;
	background: #fff;
	margin: 30px auto;
	outline: 0;
	border: 1px solid #ccc;
}

.blog .btn-close {
	position: absolute;
	left: 100%;
	top: 0;
	width: 30px;
	height: 30px;
	text-align: center;
	font-size: 15px;
}

.blog .gallery-upload:hover {
	text-decoration: underline;
}

.blog img {
	max-width: 100%;
	display: inline;
}

iframe {
	display: block;	
}

.gallery-popup-image {
	
}

.gallery-popup-image.selected {
	opacity: 0.5;
}

.style-set li {
	padding: 5px 15px;
	cursor: pointer;
}

.style-set li:hover {
	background: #f8f8f8;
}








/* calendar  */
.calendar th,
.calendar td {
	border-bottom: 1px solid #eee;
	border-right: 1px solid #ddd;
}

.calendar .thead th {
	text-align: center;
}

.calendar .tbody th {
	text-align: right;
	vertical-align: top;
}

.calendar td {
	vertical-align: top;
}

/*.calendar td:hover {
	background: #f1f1f1;
}*/






.form input[type=text],
.form input[type=password],
.form textarea {
	border: 0;
	outline: 0;
	display: inline-block;
	width: 100%;
}


.form input[type=date],
.form input[type=time] {
	border: 1px solid #ccc;
	outline: 0;
	padding: 2px 4px;
}


.form input.input-border {
	border: 1px solid #ccc !important;
	padding: 2px 4px;
	width: auto;
}



.pull-left .image-box {
	margin-right: 5px;	
	margin-bottom: 5px;
}

.image-box {
	border: 1px dashed #ccc;
	background: #fff no-repeat center center;
	background-size: contain;
}

.image-box .hover {
	display: table;
	width: 100%;
	height: 100%;	
}

.image-box .hover span {
	display: table-cell;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	line-height: 2;
	opacity: 0;
}

.image-box:hover {
	border: 1px solid #333;
}

.image-box:hover span {
	background: rgba(0,0,0,0.45);
	opacity: 1;
}

.image-box.selected {
	opacity: 0.8;
	border: 1px solid #dd4b39;
}




.image-box2 {
	border: 1px solid #333;
	background: #fff no-repeat center center;
	background-size: contain;
}

.image-box2 .hover {
	display: table;
	width: 100%;
	height: 100%;	
}

.image-box2 .hover span {
	display: table-cell;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	line-height: 2;
	background: rgba(0,0,0,0.45);
	opacity: 1;
}

.image-box2:hover span {
	text-decoration: underline;
}




/* 통계 */
.anal_table th, .anal_table td {
	padding: 10px;
	background: #fff;
	border: 1px solid #ccc;
}

.anal_table th {
	font-weight: bold;
}


.anal_table td {
	color: #000;
	font-size: 15px;
	font-weight: bold;
	position: relative;
}

.anal_table td span {
	color: #777;
	font-size: 11px;
	font-weight: normal;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.sidebar .checkbox {
	vertical-align: top;
}