$bk00 = #000000
$bk77 = #777777
$bkaa = #AAAAAA
$bkbb = #BBBBBB
$bkcc = #CCCCCC
$bkee = #EEEEEE
$bkf9 = #F9F9F9
$white = #FFFFFF

$basic = #3B769F
$warn = #D0021B
$primary = #179C96
$accent = #0A934E
$accent2 = #FF7200
$accent3 = #177AD6


$body-color = $border = $title-dark-bg = $btn-group-btn-color = $bk00
$btn-group-btn-color-disabled = $bk77
$input-placeholder-color = $bkbb
$table-tr-selected-bg = $ui-field-readonly-bg = $bkee
$table-tr-hover-bg = $bkf9
$nav-li-hover-color = $nav-menu-bg = $nav-menu-a-hover-color = $ui-form-bg = $select-bg = $title-dark-color = $edit-aside-menu-hover-color = $white
$nav-li-hover-bg = $nav-menu-a-hover-bg = $note-color = $edit-aside-menu-hover-bg = $btn-group-btn-color-strong = $basic


//상품상태
$status-bg = $white
$status-finish = $bkaa
$status-dimmed = $bkcc
$status-primary = $primary
$status-warn = $warn
$status-accent = $accent
$status-accent2 = $accent2
$status-accent3 = $accent3


//버튼
$btn-round-color = $btn-round-border = $bk00
$btn-simple-disabled-color = $btn-round-disabled-color = $btn-round-disabled-border = $bkbb
$btn-hover-bg = $bkf9
$btn-inline-border = $btn-inline-color = $btn-simple-color = $btn-simple-hover-color = $btn-round-hover-color = $btn-round-hover-border = $btn-block-border = $btn-block-color = $basic




