/* hbox and vbox classes */
hbox($align = center)
  $align-items = $align
  if $align == start
    $align-items = flex-start
  if $align == end
    $align-items = flex-end

  if $align == stretch or $align == full
    $align-items = stretch

  display flex
  flex-direction row
  align-items $align-items

vbox($align = stretch)
  $align-items = $align
  if $align == start
    $align-items = flex-start
  if $align == end
    $align-items = flex-end

  display flex
  flex-flow column
  align-items $align-items

flex(f = 1)
  flex f

layer()
  position absolute
  top 0
  left 0
  right 0
  bottom 0

wpx($i)
  unit($i* 8, "px")

$light = 100
$demilight = 200
$regular = 300
$medium = 450
$bold = 600

ratio($w, $h)
  &:before
    content: " "
    display block
    padding-top unit($h /$w * 100, "%")

mobile()
  @media (max-width: 767px)
    {block}

tablet()
  @media (min-width: 768px) and (max-width: 1023px)
    {block}

desktop()
  @media (min-width: 1024px)
    {block}

mobile-and-tablet()
  @media (max-width: 1023px)
    {block}

tablet-and-desktop()
  @media (min-width: 768px)
    {block}
