span.status {
  display: inline-block;
  min-width: 69px;
  font-size: 12px;
  padding: 1px 12px;
  border-radius: 12px;
  border: 1px solid #000;
  text-align: center;
}
span.작성중,
span.거래완료,
span.cancelled,
span.확인완료 {
  color: #aaa;
  border-color: #aaa;
}
span.비공개,
span.배송요청 {
  color: #ccc;
  border-color: #ccc;
}
span.공개,
span.답변완료,
span.배송완료,
span.승인완료,
span.승인됨,
span.VERIFIED,
span.paid {
  color: #179c96;
  border-color: #179c96;
}
span.작성중,
span.배송중,
span.정산요청 {
  color: #0a934e;
  border-color: #0a934e;
}
span.취소완료,
span.승인거절,
span.UNVERIFIED {
  color: #d0021b;
  border-color: #d0021b;
}
span.접수완료 {
  color: #ff7200;
  border-color: #ff7200;
}
span.주문완료 {
  color: #177ad6;
  border-color: #177ad6;
}
i[icon] {
  display: block;
}
i[icon][icon="menu"] {
  width: 18px;
  height: 12px;
  background-image: url("/admin/img/icon-menu.svg");
  background-size: 18px 12px;
  background-repeat: no-repeat;
}
i[icon][icon="add"] {
  width: 24px;
  height: 24px;
  background-image: url("/admin/img/icon-add.svg");
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: center center;
}
i[icon][icon="remove"] {
  width: 24px;
  height: 24px;
  background-image: url("/admin/img/icon-remove.svg");
  background-size: 14px 2px;
  background-repeat: no-repeat;
  background-position: center center;
}
i[icon][icon="checkbox"] {
  width: 24px;
  height: 24px;
  background-image: url("/admin/img/icon-checkbox.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center center;
}
[selected] i[icon][icon="checkbox"] {
  width: 24px;
  height: 24px;
  background-image: url("/admin/img/icon-checkbox-selected.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center center;
}
i[icon][icon="back"] {
  width: 24px;
  height: 24px;
  background-image: url("/admin/img/icon-back.svg");
  background-size: 7.4px 12px;
  background-repeat: no-repeat;
  background-position: center center;
}
i[icon][icon="next"] {
  width: 24px;
  height: 24px;
  background-image: url("/admin/img/icon-next.svg");
  background-size: 7.4px 12px;
  background-repeat: no-repeat;
  background-position: center center;
}
i[icon][icon="search"] {
  width: 24px;
  height: 24px;
  background-image: url("/admin/img/icon-search.svg");
  background-size: 17.5px 17.5px;
  background-repeat: no-repeat;
  background-position: center center;
}
i[icon][icon="save"] {
  width: 24px;
  height: 24px;
  background-image: url("/admin/img/icon-save.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center center;
}
i[icon][icon="edit"] {
  width: 24px;
  height: 24px;
  background-image: url("/admin/img/icon-edit.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center center;
}
i[icon][icon="close"] {
  width: 24px;
  height: 24px;
  background-image: url("/admin/img/icon-close.svg");
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: center center;
}
i[icon][icon="close-white"] {
  width: 24px;
  height: 24px;
  background-image: url("/admin/img/icon-close-white.svg");
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: center center;
}
i[icon][icon="order"] {
  width: 18px;
  height: 22px;
  background-image: url("/img/icon-order.svg");
  background-size: 18px 22px;
  background-repeat: no-repeat;
}
i[icon][icon="save"] {
  width: 18px;
  height: 18px;
  background-image: url("/admin/img/icon-save.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
}
i[icon][icon="tag"] {
  width: 20px;
  height: 20px;
  background-image: url("/admin/img/btn-tag.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
i[icon][icon="thumbnail"] {
  width: 18px;
  height: 18px;
  background-image: url("/admin/img/btn-thumbnail.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
}
i[icon][icon="img"] {
  width: 18px;
  height: 18px;
  background-image: url("/admin/img/btn-img.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
}
i[icon][icon="gallery"] {
  width: 16px;
  height: 16px;
  background-image: url("/admin/img/btn-gallery.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
}
i[icon][icon="video"] {
  width: 20px;
  height: 20px;
  background-image: url("/admin/img/btn-video.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
i[icon][icon="link"] {
  width: 20px;
  height: 10px;
  background-image: url("/admin/img/btn-link.svg");
  background-size: 20px 10px;
  background-repeat: no-repeat;
}
i[icon][icon="desktop"] {
  width: 23px;
  height: 20px;
  background-image: url("/admin/img/btn-desktop.svg");
  background-size: 23px 20px;
  background-repeat: no-repeat;
}
i[icon][icon="mobile"] {
  width: 14px;
  height: 22px;
  background-image: url("/admin/img/btn-mobile.svg");
  background-size: 14px 22px;
  background-repeat: no-repeat;
}
svg-icon {
  display: flex;
}
svg-icon > * {
  margin: auto;
}
svg-icon[src="icon-menu"] {
  width: 18px;
  height: 12px;
}
svg-icon[src="icon-add"],
svg-icon[src="icon-remove"],
svg-icon[src="icon-back"],
svg-icon[src="icon-next"],
svg-icon[src="icon-save"],
svg-icon[src="icon-order"] {
  width: 24px;
  height: 24px;
}
